.Footer {
    background-color: #edecec;
    padding: 20px;
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li 
{
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #555;
}