.navbar-container{
    box-sizing: border-box; 
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    height: 70px;
    width: 100%;

}
.navbar-container > div
{
    gap: 10px;
    display: flex;
    align-items: center;
     align-content: center; 
    background-color: rgb(255, 255, 255);
}
.navbar-container > div>img
{
    width:80px ;
    height:80px ;
}
.navbar-container > div>input
{
    width:300px ;
    height: 20px;
   
}
svg{
    font-size: 25px;
}